[workspace]
resolver = "2"
members = [
    "uwu-pdf",
    "uwu-qr",
    "uwu-id3"
]

[workspace.package]
version = "0.1.0"
edition = "2024"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
strip = true
panic = "abort"
